body {
  margin: 0;
  padding: 0;
  background: url('./images/background-image.png') center center/cover no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  align-items: left;
  
}


.your-form {
  display: flex;
  flex-direction: column;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: auto; /* Center the form horizontally */
}

.form-group {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Allow vertical resizing of the textarea */
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}